@media screen and (max-width: 500px) {
  /* main */
  .main_container {
    width: 500px;
    height: 2185px;
  }

  .main_header {
    height: 62px;
    padding: 0;
    /* 임시 */
  }

  .main_logo {
    position: absolute;
    top: 12.5%;
    left: 5%;
  }

  .main_logo a {
    display: block;
    width: 40px;
    height: 40px;
    background: url(../images/logo_bk_2.png);
  }

  nav {
    padding-left: 0;
  }

  nav .main_sub_menu {
    display: none;
    justify-content: space-between;
    padding-top: 42px;
  }

  nav .main_gnb {
    display: none;
  }

  .aside {
    display: flex;
  }

  .slogan,
  .aside .utill,
  .aside .aside_btn {
    display: none;
  }

  .where_when {
    display: block;
    left: 15%;
  }

  .where {
    font-family: "MaplestoryOTFLight";
  }

  .when {
    margin-top: 20px;
    margin-left: 0;
    font-family: "MaplestoryOTFLight";
  }

  /* mobile_utill */
  .menu_icon + label {
    display: block;
  }

  /* login_box */
  .sidebar {
    display: block;
    overflow-y: scroll;
    position: absolute;
    top: 0;
    right: -500px;
    z-index: 20;
    width: 500px;
    height: 1000px;
    background-color: #fff;
    transition: all 0.3s;
  }

  .sidebar > .login_box {
    width: 100%;
    height: 270px;
    background: #fff;
    color: #fff;
  }

  .login_box > div:first-child {
    width: 100%;
    height: 200px;
    padding-top: 60px;
    margin: 0 auto;
    background-color: #e63c2c;
    font-family: "MaplestoryOTFLight";
    font-size: 20px;
    text-align: center;
    line-height: 30px;
  }

  .login_box > div:first-child > button {
    display: block;
    margin: 10px auto;
    border: none;
    background: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }

  .login_box > div > button:after {
    margin-left: 10px;
    content: ">";
  }

  .login_box > div.login_box_btn {
    display: flex;
    width: 100%;
    height: 60px;
    background-color: #b3291d;
  }

  div.login_box_btn > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    font-family: "MaplestoryOTFLight";
    font-size: 20px;
  }

  div.login_box_btn > div:first-child::after {
    width: 1px;
    height: 30px;
    background-color: #666;
    content: "";
  }

  div.login_box_btn > div > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  /* menu_box_1 */
  .sidebar > .menu_box_1 {
    width: 100%;
    height: auto;
    background: #fff;
  }

  .menu_box_1 > div {
    width: 95%;
    height: 60px;
    margin: 0 auto;
    border-bottom: 1px solid #ccc;
  }

  .menu_box_1 > div > a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    color: #666;
    font-family: "MaplestoryOTFLight";
    font-size: 15px;
  }
  .res_menu_btn {
    position: relative;
    width: 100%;
    height: 59px;
    margin: 0 auto;
    border: 0;
    cursor: pointer;
    text-align: start;
    background-color: #fff;
  }
  .res_menu_btn::before {
    display: inline-block;
    content: "";
    position: absolute;
    top: 50%;
    right: 5%;
    width: 10px;
    height: 6px;
    margin-top: -3px;
    background: url(../images/ico_arr_2.png) 0 0 no-repeat;
    background-size: 10px auto;
  }

  .res_menu_btn a {
    position: absolute;
    left: 3%;
    top: 50%;
    transform: translateY(-50%);
    color: #666;
    font-family: "MaplestoryOTFLight";
  }

  .res_menu_ul {
    height: 0;
    overflow: hidden;
  }
  .res_menu_btn.active .res_menu_ul {
  }
  .res_menu_btn.active::before {
    transform: rotate(180deg);
  }
  .res_menu_ul li {
    width: 100%;
    height: 60px;
    margin: 0 auto;
    line-height: 60px;
    cursor: pointer;
  }
  .res_menu_ul li a {
    font-family: "MaplestoryOTFLight";
    color: #666;
    width: 100%;
    height: 100%;
    font-size: 15px;
    padding-left: 30px;
  }
  .res_menu_number {
    padding: 40px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.56);
    text-align: center;
    height: 400px;
    background-color: #e8e8e8;
  }
  .naeli_name {
    font-family: "MaplestoryOTFLight";
    font-size: 14px;
    color: rgba(0, 0, 0, 0.56);
  }
  .naeli_num {
    font-family: "MaplestoryOTFLight";
    display: inline-block;
    padding: 3px 0 5px 0;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.26);
    font-size: 24px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.6);
  }
  .naeli_time {
    color: rgba(0, 0, 0, 0.56);
    font-family: "MaplestoryOTFLight";
    padding-top: 9px;
    line-height: 1.4;
  }

  /* ticketing_wrapper */
  .ticketing_wrapper {
    width: 500px;
    height: 820px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f1f3f6;
  }

  .ticketing_wrapper.tab3_height {
    height: 800px;
  }

  .ticketing_box > h1 {
    padding-top: 20px;
  }

  .ticketing_box {
    width: 480px;
  }

  /* tab_menu */
  .tab_menu {
    display: flex;
    justify-content: space-around;
    width: 200px;
    margin: 0 auto;
  }

  .tab_menu li {
    position: relative;
    width: auto;
    height: 30px;
    margin-right: 10px;
  }

  .tab_menu li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: gray;
    font-family: "MaplestoryOTFLight";
    padding-left: 0;
    font-size: 17px;
  }

  .tab_menu .outside_circle,
  .outside_circle > .inside_circle {
    display: none;
  }

  .tab_menu li a.active {
    font-family: "MaplestoryOTFBold";
    color: #2b54c4;
    border-bottom: 3px solid #00256c;
  }

  /* tab_content */
  .tab_content {
    width: 460px;
    height: 500px;
    margin: 0 auto;
  }

  .tab_content > div {
    margin-top: 10px;
  }

  .tab_content .content_box {
    display: block;
    width: 100%;
    height: auto;
    border: none;
    border-radius: 0;
    background-image: none;
  }

  .content_box > div {
    height: auto;
  }

  /* destination */
  .tab_content .destination {
    position: relative;
    width: 100%;
    height: 130px;
    border: none;
    border-radius: 25px 25px 0 0;
    background-color: #fff;
  }

  .tab_content .destination::before {
    position: absolute;
    bottom: 0;
    width: 94%;
    height: 1px;
    border-bottom: 1px dashed #767676;
    content: "";
  }

  .destination button.start_btn {
    margin-left: 10px;
  }

  .destination button.arrival_btn {
    margin-right: 10px;
  }

  .destination > .route {
    justify-content: center;
  }

  .destination .route > div:nth-child(2n-1) {
    display: none;
  }

  .destination .route > div:nth-child(2) {
    align-self: center;
    width: 50px;
    height: 50px;
    margin: 0 10px;
  }

  .destination .route > div:nth-child(2) > img {
    width: 100%;
    height: 100%;
  }

  /* planner */
  .tab_content .planner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: none;
    border-radius: 0 0 25px 25px;
    background-color: #fff;
  }

  /* planner - button */
  .planner button.planner_btn {
    width: 120px;
  }

  button.planner_btn > div:first-child {
    display: none;
  }

  button.planner_btn > div:last-child {
    font-family: "MaplestoryOTFLight";
    font-size: 15px;
    letter-spacing: 0;
  }

  button.planner_btn span.img_box {
    width: 26px;
    height: 26px;
  }

  .planner_pop {
    display: none;
  }

  /* personnel */
  .tab_content .personnel {
    width: 100%;
  }

  /* personnel - button */
  .personnel > button {
    position: relative;
    width: 100%;
    height: 80px;
    margin: 0;
    margin-top: 12px;
    background-color: #fff;
  }

  .personnel > button > div {
    margin: 0 15px;
  }

  .personnel > button > div:nth-child(1) {
    font-size: 14px;
  }

  .personnel > button > div:nth-child(2) {
    margin-top: 5px;
    font-size: 18px;
  }

  .personnel > button.passenger_btn > div:nth-child(2) {
    color: #000;
  }

  .personnel > button > div:nth-child(3) {
    display: none;
  }

  /* personnel - button - img_box */
  .personnel > button .img_box {
    position: absolute;
    top: 25px;
    right: 0;
    width: 30px;
    height: 30px;
    transition: transform 0.3s;
  }

  .personnel > button .img_box img {
    width: 100%;
    height: 100%;
  }

  /* airplane_search_btn */
  .tab_content .airplane_search_btn {
    width: 100%;
    margin-top: 20px;
  }

  /* tab3 CSS */
  .tab_content #tab3 {
    height: 100%;
  }

  .tab_content #tab3 > .content_box {
    display: block;
  }

  /* content_box_row_1 */
  .tab_content #tab3 .content_box_row_1 {
    display: block;
    width: 100%;
    height: auto;
    border: none;
  }

  .content_box_row_1 > div {
    display: block;
    height: 200px;
  }

  .content_box_row_1 .journey {
    display: block;
    position: absolute;
    top: 20px;
    left: 10px;
    color: #000;
    font-size: 11px;
  }

  .content_box_row_1 .route > div:nth-child(2n-1) {
    display: block;
    border-bottom: 1px dashed #61b3ff;
  }

  .content_box_col_1 div.destination {
    height: 70%;
  }

  .content_box_col_1 div.planner {
    height: 30%;
    border-radius: 0;
  }

  .content_box_row_1 > .dashed_line {
    width: 100%;
    border-top: 1px solid #bbb;
  }

  .content_box_col_2 div.destination {
    border-radius: 0;
  }

  .content_box_col_2 div.planner {
    border-radius: 0 0 25px 25px;
  }

  /* content_box_col_3 */
  .content_box_row_1 > div.content_box_col_3 {
    display: none;
  }
  .content_box_col_3 > .plan_add_btn {
    display: none;
  }

  /* content_box_row_2 */
  .content_box .content_box_row_2 {
    display: block;
    width: 100%;
    height: auto;
  }

  /* popup */
  .popupfocus {
    position: fixed;
    top: 0;
    left: 0;
  }

  .popup {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(0%, 0%);
    width: 500px;
    height: 1000px;
    z-index: -1;
    border-radius: 0;
    background: #fff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    padding: 20px;
    opacity: 0;
  }

  .popupfocus:target + .popup + .dim {
    display: none;
  }

  /* .destination_pop_col_1 */
  .popup > .destination_pop_col_1 {
    margin: 5px auto 0;
  }

  .destination_pop_col_1 > h1 {
    font-family: "MaplestoryOTFLight";
    font-size: 20px;
  }

  /* destination_pop_col_2 */
  .popup > .destination_pop_col_2 {
    position: relative;
    height: 150px;
  }

  .destination_pop_col_2 > input {
    height: 50px;
    font-family: "MaplestoryOTFLight";
    font-size: 20px;
  }

  /* passenger_pop_col_1 */
  .popup > .passenger_pop_col_1 {
    margin: 5px auto;
  }

  .passenger_pop_col_1 > h1 {
    font-size: 20px;
  }

  /* passenger_pop_col_2 */
  .popup > .passenger_pop_col_2 {
    display: block;
    height: 210px;
    margin-top: 30px;
  }

  .passenger_pop_col_2 > div {
    display: flex;
    width: 100%;
    height: 70px;
  }

  .passenger_pop_col_2 > div > div {
    display: flex;
    align-items: center;
    width: 50%;
  }

  .passenger_pop_col_2 > div > div:first-child {
    justify-self: start;
    height: 100%;
    margin-top: 0;
  }

  .passenger_pop_col_2 > div > div:last-child {
    justify-self: end;
    height: 100%;
    margin-top: 0;
  }

  .passenger_pop_col_2 h3 {
    margin-top: 0;
    font-size: 20px;
  }

  /* count_box */
  .passenger_pop_col_2 .count_box {
    justify-content: end;
    width: 100%;
    height: 100%;
  }


  /* notice_box */
  .popup > .notice_box {
    width: 100%;
    height: 270px;
    margin-top: 40px;
    padding: 20px 10px;
    background-color: #f8f9fc;
  }

  .notice_box > ul > li {
    font-size: 15px;
    line-height: 20px;
  }

  .notice_box > ul > li:nth-child(3)::after {
    display: block;
    margin-left: 0;
    font-size: 13px;
  }

  .notice_box > ul > li:last-child {
    color: #0064de;
  }

  /* select_btn */
  .popup > .select_btn {
    display: block;
    width: 100%;
    margin: 10px auto 0;
  }

  /* rating_pop_col_1 */
  .rating_pop_col_1 {
    margin: 5px auto 0;
  }

  .rating_pop_col_1 > h1 {
    font-family: "MaplestoryOTFLight";
    font-size: 20px;
  }

  /* rating_pop_col_2 */
  .rating_pop_col_2 {
    height: 430px;
    margin: 25px auto 0;
  }

  /* rating_select_box */
  .rating_select_box {
    display: block;
    height: auto;
  }

  .rating_select_box > div {
    height: 52px;
    margin-top: 10px;
  }

  /* upgrade_box */
  .rating_pop_col_2 > .upgrade_box {
    height: 100px;
    margin-top: 50px;
  }

  .upgrade_box > div:first-child {
    display: flex;
    margin-bottom: 20px;
  }

  .upgrade_box > div:last-child {
    display: block
  }

  

  /* experience */
  .experience {
    margin-top: 0;
    padding: 5rem 1rem;
  }
  .exp_inner {
    width: 500px;
  }
  .exp_inner p {
    font-size: 20px;
  }
  .exp_inner ul {
    flex-direction: column;
    gap: 22px;
  }
  .exp_inner ul li {
    width: 93%;
  }
  .exp_img {
    height: 208px;
    margin: 0;
    background: url(../images/booking-visual--m.jpg) 50% 100%/100% auto
      no-repeat;
  }

  .page {
    display: none;
  }

  /* contact_box */
  .contact_box {
    width: 500px;
    height: 100px;
    margin-top: -5px;
    margin-left: auto;
    margin-right: auto;
  }

  .contact_box > .contact_wrapper {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    border: none;
  }

  .contact_wrapper .contact_nav {
    display: block;
    width: 500px;
    height: 45px;
  }

  .contact_nav > ul {
    display: flex;
    width: 100%;
    height: 100%;
    border-top: 2px solid #000;
    border-bottom: 1px solid #000;
  }

  .contact_nav > ul > li {
    position: relative;
    flex-grow: 1;
    height: 100%;
  }

  .contact_nav > ul > li:first-child > a::after {
    position: absolute;
    right: 0;
    width: 1px;
    height: 40%;
    background-color: #999;
    content: "";
  }

  .contact_nav > ul > li:last-child > a::before {
    position: absolute;
    left: 0;
    width: 1px;
    height: 40%;
    background-color: #999;
    content: "";
  }

  .contact_nav > ul > li > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: "MaplestoryOTFLight";
    font-size: 13px;
  }

  /* contact_row */
  .contact_wrapper > .link_wrapper {
    justify-content: center;
    margin-top: 15px;
  }

  .link_wrapper > .link_box {
    margin: 0 10px;
  }

  .link_box > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  /* footer_box */
  .footer_box {
    width: 500px;
    margin-top: 40px;
  }

  .footer_box > .footer_wrapper {
    width: 100%;
    margin: 0;
  }

  /* footer_app_nav */
  .footer_wrapper .footer_app_nav {
    display: block;
    width: 100%;
    height: 40px;
  }

  .footer_app_nav > ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    margin-left: 10px;
  }

  .footer_app_nav li {
    height: 10px;
    margin-right: 15px;
  }

  .footer_app_nav li a {
    font-size: 12px;
  }

  /* fotter_content */
  .footer_wrapper .footer_content {
    display: block;
    width: 100%;
    height: 430px;
    margin-top: 40px;
  }

  .footer_content > div {
    width: 100%;
    height: auto;
    margin-left: 20px;
    margin-bottom: 40px;
  }

  .footer_content > div:last-child {
    margin-right: 0;
  }

  .footer_content h1 {
    font-size: 20px;
    margin-bottom: 5px;
  }

  .footer_content li {
    font-family: "MaplestoryOTFLight";
    font-size: 12px;
    line-height: 15px;
  }

  /* .footer_br_line */
  .footer_wrapper > .footer_br_line {
    display: none;
  }

  /* footer_award */
  .footer_wrapper > .footer_award {
    display: none;
  }
}
