@charset "euc-kr";
@import url("/_Css/fonts.css");

html,body {width:100%;height:100%; font-family:'Nanum Gothic', 'Malgun Gothic', sans-serif;}
body {overflow:auto;}

#doc {position:relative;width:100%; min-width:1100px;}
body {overflow-y:visible;overflow-x:hidden;}
body.no-scr {overflow-y:hidden;}

.doc-pg{position:relative; min-width:1100px;}
.div-wrap {position:relative; width:1100px; text-align:left; margin:0 auto 0 auto;}
.div-wrap-100p {position:relative; width:100%; text-align:left; margin:0 auto 0 auto;}
.div-cont {position:relative; text-align:left; margin:0 auto 0 auto;}
.div-cont:after{clear:both;content:"";display:block;}

.body-slide-wr{position:relative;width:100%;height:100%;transition:margin 0.3s ease;}
.body-slider-ovclick, .container-bg{position:fixed;z-index:2006;width:100%;height:100%;left:0;top:0;background:rgba(0,0,0,0.45);cursor:pointer }

i{font-style:normal}
select,input,button,textarea,button{font-family:'NanumBarunGothic', sans-serif;}


/* z-index */
#header-wrap, #header {z-index:2005;}
#container-wrap{position:relative;} /*  z-index:2001;  */
#container-wrap:before{position:absolute; left:50%; top:0px; width:2000px; margin-left:-1000px; height:100%; display:block; content:""; z-index:-1;}
#footer-wrap{z-index:2006; }


/* /////////////////////////////// 상단 ///////////////////////////////////*/

#header-wrap{position:relative;}
#header-wrap:before{position:absolute; left:50%; top:0px; width:2000px; margin-left:-1000px; height:100%; border-bottom:1px solid #b2b2b2; display:block; content:""; z-index:-1;background: #0d7d27;}
#header-wrap:after{background:#fff; width:2000px; height:46px; display:block; content:""; position:absolute; left:50%; margin-left:-1000px; bottom:0; z-index:-1}

#header{height:231px;}



/* gnb-wrap */
#gnb-wrap{position:relative; height:31px; z-index:6002; font-family:'NanumBarunGothic','Nanum Gothic', 'Malgun Gothic', sans-serif;}
#gnb-wrap:before{background:#eaeaea; width:2000px; height:100%; border-bottom:1px solid #cdcdcd; display:block; content:""; position:absolute; left:50%; margin-left:-1000px; top:0; z-index:-2}
#gnb-wrap .pro-mall{position:absolute; left:0px; top:0px; width:385px; height:31px; padding-left:60px; box-sizing:border-box; border-right:1px solid #cdcdcd; font-size:0px;}
#gnb-wrap .pro-mall .tag{position:absolute; left:0px; top:5px; font-size:12px; color:#fff; line-height:21px; display:block; background:#eb6004; padding:0px 14px 0px 11px; background:url(/_Img/Layout/tag-bg.jpg) no-repeat right #eb6004;}
#gnb-wrap .pro-mall .item{font-size:13px; color:#222; line-height:31px; margin:0px 10px; display:inline-block;}

#gnb-wrap .gnb-menu{}
#gnb-wrap .gnb-menu{position:absolute; right:0px; top:6px;}
#gnb-wrap .gnb-menu:after{clear:both;content:""; display:block;}
#gnb-wrap .gnb-menu li{position:relative; float:left;}
/*#gnb-wrap .gnb-menu li:before{position:absolute; top:5px; left:0px; width:1px; height:10px; background:#d2d2d2; content:"";}*/
#gnb-wrap .gnb-menu li:first-child:before{display:none;}
#gnb-wrap .gnb-menu li a{padding:0px 10px; display:block; font-size:12px; color:#656565;}
#gnb-wrap .gnb-menu li:last-child a{padding-right:0px;}
#gnb-wrap .gnb-menu li.pop-login-wrap:before{position:absolute; top:4px; left:0px; width:1px; height:10px; background:#d1d1d1; content:"";}

#gnb-wrap .gnb-menu li.depar > a{padding-right:13px; margin-right:10px; background:url(/_Img/Layout/theme-arrowT.png) no-repeat right; }
#gnb-wrap .gnb-menu li.depar.active > a{background:url(/_Img/Layout/theme-arrowB.png) no-repeat right;}

#gnb-wrap .gnb-menu li.depar li.depar-list{position:absolute; left:0px; top:28px; border:1px solid #cdcdcd; /* padding:10px 8px 10px 8px; */ display:none; background:#fff;}
#gnb-wrap .gnb-menu li.depar li.depar-list {float:none; margin:0px; margin-bottom:5px; color:#656565;}
#gnb-wrap .gnb-menu li.depar li.depar-list :last-child{margin-bottom:0px;color:#656565;}
#gnb-wrap .gnb-menu li.depar li.depar-list a{padding:0px; background:none; font-size:12px; line-height:120%; color:#656565; }
#gnb-wrap .gnb-menu li.depar li.depar-list :last-child:hover{text-decoration:underline;}
#gnb-wrap .gnb-menu li.depar.active li.depar-list{display:block;}


#logo{position:absolute; left:0px; top:57px; z-index:2100; width:187px; height:47px; z-index:2500; opacity:1;}
/*#logo:after{content:''; position:absolute; left:205px; top:6px; width:40px; height:39px; background:url(/_Img/logo_26th.png) no-repeat 0 0;}*/
#logo:after{content:''; position:absolute; left:196px; top:26px; width:33px; height:18px; background:url(/_Img/logo_since.png) no-repeat 0 0;}
#logo a{display:block; height:47px; background:url(/_Img/m-logo.png) no-repeat center;}


/*
#header .gnb-wrap .gnb-menu li.depar a{padding-right:13px; margin-right:25px; background:url(/_Img/Main/depar-arrow-bottomW.png) no-repeat right;}
#header .gnb-wrap .gnb-menu li.depar.active a{background:url(/_Img/Main/depar-arrow-topW.png) no-repeat right;}
*/

#gnb-wrap .gnb-menu li.depar li.depar-list{position:absolute; left:0px; top:25px; border:1px solid #cdcdcd; padding:10px 0px; display:none; background:#fff; width:100%; }
#gnb-wrap .gnb-menu li.depar li.depar-list {float:none; margin:0px; margin-bottom:5px;}
#gnb-wrap .gnb-menu li.depar li.depar-list:last-child{margin-bottom:0px;}
#gnb-wrap .gnb-menu li.depar li.depar-list a{padding:0px; background:none; font-size:12px; line-height:120%; color:#656565; text-align:center; }
#gnb-wrap .gnb-menu li.depar li.depar-list a:hover{text-decoration:underline;}
#gnb-wrap .gnb-menu li.depar.active li.depar-list{display:block; }



/* search-theme-btn */
#header .search-theme-btn{position:absolute; right:0px; top:58px; font-size:0px;}
#header .search-theme-btn .input-btn{position:relative; width:360px; padding-right:55px; margin-right:15px; box-sizing:border-box; display:inline-block; vertical-align:top; background:#5aa57a; border-radius:5px;}
#header .search-theme-btn .input-btn input[type="text"]{width:100%; height:44px; font-size:15px; color:#777; padding:0px 14px; background:none; border:none; color:#fff;}
#header .search-theme-btn .input-btn .btn{position:absolute; right:0px; top:0px; height:44px; width:55px; background:url(/_Img/Layout/search-icon.png) no-repeat center; display:block;}

#header .search-theme-btn .theme-btn{border:1px solid #5dbd80; width:210px; margin-right:26px; line-height:42px; text-align:center; font-size:15px; color:#fff; display:inline-block; vertical-align:top; border-radius:5px;}
#header .search-theme-btn .theme-btn span{padding-right:22px; background:url(/_Img/Main/depar-arrow-bottomW.png) no-repeat right;}

#header .search-theme-btn .pop-allmenu{width:16px; height:16px; display:inline-block; background:url(/_Img/Main/all-menu-btn.png) no-repeat center; line-height:120%; margin-top:14px;}

/* prod-menu */
#header .prod-menu{position:relative; top:96px; left:0px; width:100%;}

#header .prod-menu ul{overflow:hidden; text-align:center;}
#header .prod-menu ul li{position:relative; width:11.666666666666666%; height:58px; float:left; border-left:1px solid #00502b; border-top:1px solid #00502b; box-sizing:border-box;}
#header .prod-menu ul li:first-child:before{display:none;}
#header .prod-menu ul li a{height:100%; line-height:120%; display:block; color:#fff; font-size:12px; font-weight:400; padding-top:9px; box-sizing:border-box;}

#header .prod-menu ul li:nth-child(1) a{background:url(/_Img/Layout/menu-icon01.png) no-repeat center 25px;}
#header .prod-menu ul li:nth-child(1).active a{background:url(/_Img/Layout/menu-icon01.png) no-repeat center 25px #00ab45;}
#header .prod-menu ul li:nth-child(1):hover a{background:url(/_Img/Layout/menu-icon01.png) no-repeat center 25px #00ab45;}

#header .prod-menu ul li:nth-child(2) a{background:url(/_Img/Layout/menu-icon02.png) no-repeat center 25px;}
#header .prod-menu ul li:nth-child(2).active a{background:url(/_Img/Layout/menu-icon02.png) no-repeat center 25px #00ab45;}
#header .prod-menu ul li:nth-child(2):hover a{background:url(/_Img/Layout/menu-icon02.png) no-repeat center 25px #00ab45;}

#header .prod-menu ul li:nth-child(3) a{background:url(/_Img/Layout/menu-icon04.png) no-repeat center 25px;}
#header .prod-menu ul li:nth-child(3).active a{background:url(/_Img/Layout/menu-icon04.png) no-repeat center 25px #00ab45;}
#header .prod-menu ul li:nth-child(3):hover a{background:url(/_Img/Layout/menu-icon04.png) no-repeat center 25px #00ab45;}

#header .prod-menu ul li:nth-child(4) a{background:url(/_Img/Layout/menu-icon03.png) no-repeat center 25px;}
#header .prod-menu ul li:nth-child(4).active a{background:url(/_Img/Layout/menu-icon03.png) no-repeat center 25px #00ab45;}
#header .prod-menu ul li:nth-child(4):hover a{background:url(/_Img/Layout/menu-icon03.png) no-repeat center 25px #00ab45;}

#header .prod-menu ul li:nth-child(5) a{background:url(/_Img/Layout/menu-icon05.png) no-repeat center 25px;}
#header .prod-menu ul li:nth-child(5).active a{background:url(/_Img/Layout/menu-icon05.png) no-repeat center 25px #00ab45;}
#header .prod-menu ul li:nth-child(5):hover a{background:url(/_Img/Layout/menu-icon05.png) no-repeat center 25px #00ab45;}

#header .prod-menu ul li:nth-child(6) a{background:url(/_Img/Layout/menu-icon06.png) no-repeat center 25px;}
#header .prod-menu ul li:nth-child(6).active a{background:url(/_Img/Layout/menu-icon06.png) no-repeat center 25px #00ab45;}
#header .prod-menu ul li:nth-child(6):hover a{background:url(/_Img/Layout/menu-icon06.png) no-repeat center 25px #00ab45;}

#header .prod-menu ul li.point{width:10%; border:none;}
#header .prod-menu ul li.point a{padding-top:13px; background:#004b1c;}
#header .prod-menu ul li.point.active a{background:#012f12;}
#header .prod-menu ul li.point a:hover{background:#012f12;}
#header .prod-menu ul li.point span{line-height:16px;}

/* 메뉴부분 */
#mainNavi-wrap{height:46px; overflow:hidden; position:absolute; left:0px; top:185px; width:100%; display:block; z-index:99; font-family:'Nanum Gothic', sans-serif;}
#mainNavi-wrap:before{position:absolute; left:0px; top:0px; width:1px; height:46px; content:""; background:#cdcdcd;z-index:999;}
#mainNavi-wrap:after{position:absolute; right:0px; top:0px; width:1px; height:46px; content:""; background:#cdcdcd;}
#mainNavi-wrap.active{height:auto; overflow:visible;}

#mainNavi-wrap .stpoint-btn{position:absolute; left:0px; top:0px; width:150px;}
#mainNavi-wrap .stpoint-btn .btn{line-height:46px; display:block; text-align:center; font-size:15px; font-weight:bold; color:#006638; border-left:1px solid #cdcdcd;}
#mainNavi-wrap .stpoint-btn .btn span{padding-left:25px; background:url(/_Img/Layout/stpoint-icon.png) no-repeat left;}

#mainNavi-wrap .regst-btn{position:absolute; right:0px; top:0px; width:98px; line-height:46px; display:block; border-left:1px solid #cdcdcd; border-right:1px solid #cdcdcd; background:#e7e7e7;}
#mainNavi-wrap .regst-btn .btn{ line-height:46px; display:block; text-align:center; font-size:15px; font-weight:bold; color:#666665;}
#mainNavi-wrap .regst-btn .btn span{padding-right:10px; background:url(/_Img/Layout/regst-arrowR.png) no-repeat right;}


#mainNavi-wrap .tmn-tit{}
#mainNavi-wrap .tmn-tit{display:none;}
#mainNavi-wrap .side-banner {display:none;}
#mainNavi-wrap .side-banner2 {display:none;}
#mainNav {position:relative;}

.topmenu {display:block; position:relative; text-align:left; font-size:0px;}
.topmenu:after {display:block;content:"";clear:both;}
.topmenu .tgl-btn {display:none;}
.topmenu a, .topmenu span {word-break:keep-all; color:#666;}
.topmenu a, .topmenu span:hover{color:#02ab44; }
.topmenu .mn_a1 {line-height:46px; display:block; text-align:center; padding:0px 12px; position:relative; overflow:hidden; }
.topmenu.busan .mn_a1 {padding:0px 26px; }
.topmenu.inpack .mn_a1{padding:0 11px;} /*우리만 gnb 패딩 12픽셀하면 익스에서 깨짐*/
.topmenu.gacultip .mn_a1 {padding: 0px 34px;}
.topmenu.busan #tmgold .mn_a1  {padding: 0 9px; }
/* .topmenu.busan .mn_a1 {padding:0px 23px;} */

.topmenu.special #tm00 .mn_a1 {padding:0px 12px;}
.topmenu.special .mn_a1 {padding:0px 78px;}

.topmenu.golf #tm00 .mn_a1 {padding:0px 12px;}
.topmenu.golf .mn_a1 {padding:0px 50px;}

.topmenu.inpack #tm08 .mn_a1 {padding-right:30px; }
.topmenu.inpack #tm09 .mn_a1 {padding-left:30px; }

.topmenu .mn_l1 {display:inline-block; /* position:relative; */ background-color:#fff; }
.topmenu .mn_l1.isTopHide {display:none;}
.topmenu .mn_s1{position:relative; color:#222; font-size:14px; font-weight:bold; letter-spacing:-0.03em; cursor:pointer; text-align:center; word-break:keep-all; text-transform:uppercase; display:block; text-overflow:ellipsis;-webkit-transition:all 0.3s ease-out; -moz-transition:all 0.3s ease-out; -o-transition:all 0.3s ease-out; transition:all 0.3s ease-out;}
.topmenu .mn_s1:before{width:0px;}
.topmenu .mn_s1:hover:before{position:absolute; bottom:0px; left:0px; width:100%; height:2px; background:#fa7600; content:"";}


/*.topmenu .mn_l1.new .mn_s1:after{content:''; position:absolute; right:-22px; top:15px; width:16px; height:16px; background:url('/app/images/common/m_icn_new.png') no-repeat 0 0;} 한달살기*/

.topmenu li.mn_l1:first-child:after{display:none}
/*.topmenu li.mn_l1:after{background:red; width:12px; height:12px; left:-6px; top:50%;margin-top:-4px; display:block; content:"" ;position:absolute;}*/

.topmenu li.mn_l1:hover .mn_s1{color:#fa7f10; -webkit-transition: all 0.2s ease-out;-moz-transition: all 0.2s ease-out;-o-transition: all 0.2s ease-out;transition: all 0.2s ease-out;}
.topmenu li.mn_l1.over .mn_s1{color:#fa7f10}
.topmenu li.mn_l1.on .mn_s1{color:#fa7f10;}
.topmenu li.mn_l1.on .mn_s1:before{position:absolute; bottom:0px; left:0px; width:100%; height:2px; background:#fa7600; content:"";}

.topmenu.inpack .mn_l1.titbusan{position:relative; }
.topmenu.inpack .mn_l1.titbusan:before{
    position: absolute;
    top: 12px;
    left: 0px;
    width: 1px;
    height: 21px;
    background: #d1d1d1;
    content: "";}

.topmenu .depth2-wrap {position:absolute; top:47px; left:50%; line-height:120%; display:none; visibility:hidden; width:206px; margin-left:0px; margin-top:-1px; font-size:13px; }
.topmenu .depth2{position:relative; height:auto; overflow:hidden; padding:20px 24px; background:#fff; border-top:1px solid #c1bfbf;}
.topmenu .depth2 li{word-break:keep-all; letter-spacing:-0.03px; line-height:1.3em; float:left; width:100%;}
.topmenu .depth2 .mn_l2 {text-align:left; margin-bottom:10px;}
.topmenu .depth2 .mn_l2 .mn_a2{cursor:pointer; display:block;}
.topmenu .depth2 .mn_l2 .mn_a2 span{display:block; line-height:120%; font-size:13px; color:#333;}
.topmenu .depth2 .mn_l2:hover .mn_a2 span{text-decoration:underline; font-weight:bold;}

.topmenu .depth2 .mn_l3 {text-align:left; margin-bottom:10px;}
.topmenu .depth2 .mn_l3:last-child{margin-bottom:0px;}
.topmenu .depth2 .mn_l3 .mn_a3 {cursor:pointer; display:block;}
.topmenu .depth2 .mn_l3 .mn_a3 span{position:relative; display:block; padding-left:12px; line-height:120%; font-size:13px; color:#333;}
.topmenu .depth2 .mn_l3 .mn_a3 span:before{position:absolute; top:6px; left:4px; width:4px; height:1px; background:#333; content:"";}
.topmenu .depth2 .mn_l3:hover .mn_a3 span{text-decoration:underline; font-weight:bold;}

.topmenu.full .depth2-wrap{width:1100px; left:0px;}

.topmenu.full #tmgold .mn_a1{position:static; min-width:105px;}
.topmenu.full #tmgold:hover .mn_a1:before{content:""; position:absolute; top:40px; left:1px; width:100%; height:7px; background:url(/_Img/Layout/tm00-arrow.jpg) no-repeat 0 0; overflow:hidden; z-index:9999; width:150px; }

.topmenu.full #tmgold .mn_a1 .mn_s1{font-size:14px; /* padding-right:18px; */ color:#02ab44;}
.topmenu.full #tmgold.mn_l1:hover .mn_s1{color:#02ab44; }
.topmenu.full #tmgold.mn_l1:hover .mn_s1.one_type{color:#fa7a10; }

.topmenu.full #tmgold .depth2-wrap .depth2{position:relative; padding:0px; min-height:auto; width:140px; border:1px solid #b2b2b2; border-top:none;}
/* .topmenu.full.busan #tmgold .depth2-wrap .depth2{width:180px; } */
.topmenu.full #tmgold .depth2-wrap .depth2 a{display:block; line-height:43px; border-top:none;  text-align:center}


.topmenu.full #tm00 .mn_a1{position:relative; min-width:105px;}
.topmenu.full #tm00 .mn_a1:before{position:absolute; bottom:-1px; left:0px; width:100%; height:7px; background:#fff; content:""; overflow:hidden; z-index:9999; border-left:1px solid #cdcdcd;}


.topmenu.full #tm00 .mn_a1 .mn_s1{font-size:14px; /* padding-right:18px;  */}
.topmenu.full #tm00.mn_l1:hover .mn_s1{color:#02ab44;}

.topmenu.full.seoul #tm00 .mn_a1 .mn_s1{font-size:14px; padding-right:18px; background:url(/_Img/Layout/cont-navi-arrowB.png) no-repeat right;}
.topmenu.full.bsan #tm00 .mn_a1 .mn_s1{font-size:14px; padding-right:18px; background:url(/_Img/Layout/cont-navi-arrowB.png) no-repeat right;}
.topmenu.full.seoul #tm00.mn_l1:hover .mn_s1{color:#02ab44; background:url(/_Img/Layout/cont-navi-arrowBg.png) no-repeat right;}
.topmenu.full.bsan #tm00.mn_l1:hover .mn_s1{color:#02ab44; background:url(/_Img/Layout/cont-navi-arrowBg.png) no-repeat right;}

.topmenu.full.backpac #tm08.mn_l1 .mn_s1{color:#1263a2;}
.topmenu.full.backpac #tm08 .mn_s1:hover:before{background:#1263a2;}
.topmenu.full.backpac #tm09.mn_l1 .mn_s1{color:#1263a2;}
.topmenu.full.backpac #tm09 .mn_s1:hover:before{background:#1263a2;}

.topmenu.full.honey #tm09.mn_l1 .mn_s1{color:#1263a2;}
.topmenu.full.honey #tm10.mn_l1 .mn_s1{color:#1263a2;}

/* 기업,단체 텍스트 링크 */
.topmenu + .link_txt{position:absolute; right:30px; top:14px; font-size:14px; font-weight:700; color:#0061da; line-height:18px;}

/*메인 하나일 때*/
.topmenu.one_type li.mn_l1.on .mn_s1:before{z-index:9999}
.topmenu.one_type #tmgold.mn_l1:hover .mn_s1{color:#fa7f10; }
.topmenu.one_type #tm00.mn_l1:hover .mn_s1{color:#fa7f10; }
.topmenu.one_type #tmgold:hover .mn_a1:before{content:""; position:absolute; top:40px; left:1px; width:100%; height:7px; background:none }
.topmenu.one_type #tmgold .mn_a1 .mn_s1{font-size:14px; /* padding-right:18px; */ color:#333333;}
.topmenu.one_type #tmgold.on .mn_s1{color:#fa7f10;}

#mainNavi-wrap.active .depth2{margin-top:1px;}
#mainNavi-wrap.active .uriman .depth2{margin-top:0px;}
#mainNavi-wrap.active .depth2:before{position:absolute; top:0px; left:50%; width:2000px; margin-left:-1000px; height:100%; background:#fff; border-bottom:1px solid #b2b2b2; content:""; z-index:-1;}

#mainNavi{z-index:2005;}
#mainNavi .depth2{position:relative; padding:15px 0px 30px 190px; min-height:270px; border-bottom:none; box-sizing:border-box; background:#fff;}
#mainNavi .depth2 .brand{position:absolute; top:16px; left:0px;}
#mainNavi .depth2 .brand .img{margin-bottom:15px;}
#mainNavi .depth2 .brand .btxt{font-size:11px; line-height:150%; color:#666; text-align:center; }

#mainNavi .depth2 .title-menus.others{ border-top:1px solid #dddddd; padding-top:25px; margin-top:25px;}
#mainNavi .depth2 .title-menus .title{font-size:15px; 1margin-bottom:13px;}
#mainNavi .depth2 .title-menus .title a{display:block; color:#222222; line-height:120%; letter-spacing:-0.02em; font-weight:bold; display:inline-block}
#mainNavi .depth2 .title-menus .title a span{color:#222222; background:url(/_Img/Content/paging-next.png) no-repeat right 10px; display: block; max-width: 200px; padding: 5px 10px;  }
#mainNavi .depth2 .title-menus .title a span.nolink{background:#fff; cursor:default; text-indent:7px; }
#mainNavi .depth2 .title-menus .title.tmactive a span{color:#fff; background-color:#fb7e10;  }

#mainNavi .depth2 .title-menus .menus{overflow:hidden;}
#mainNavi .depth2 .title-menus .menus .menu{width:25%; float:left;}
#mainNavi .depth2 .title-menus .menus .menu.mg12{margin-top:12px; }
#mainNavi .depth2 .title-menus .menus .menu.mg24{margin-top:24px; }
#mainNavi .depth2 .title-menus .menus .menu.mg27{margin-top:27px; }
#mainNavi .depth2 .title-menus .menus .menu.mg32{margin-top:32px; }
#mainNavi .depth2 .title-menus .menus .menu.mg34{margin-top:34px; }
#mainNavi .depth2 .title-menus .menus .menu.mg50{margin-left:50px; }
#mainNavi .depth2 .title-menus .menus .menu .tit{font-size:14px; margin: 15px 0;}
#mainNavi .depth2 .title-menus .menus .menu .tit.cursor a{cursor:pointer;}
#mainNavi .depth2 .title-menus .menus .menu .tit a{display:block; color:#fb7e10; line-height:120%; letter-spacing:-0.02em; font-weight:bold; cursor: default; /*max-width: 170px;*/ padding: 0px 10px; }
#mainNavi .depth2 .title-menus .menus .menu .tit a span{color:#fb7e10; padding-right:11px; }
#mainNavi .depth2 .title-menus .menus .menu .tit a span.blue{color:#1263a2}
#mainNavi .depth2 .title-menus .menus .menu .tit a span.black{color:#000; }

#mainNavi .depth2 .title-menus .menus .menu .tit a span.paging-next{background:url(/_Img/Content/top6-arrowR.png) no-repeat right; background-size:5px;  cursor:pointer}

/*브랜드페이지 gnb 각각 허버효과*/


#mainNavi .depth2.subhover .title-menus .menus .menu{text-indent:10px; }
#mainNavi .depth2.subhover .title-menus .menus .menu .tit{margin:10px 0;}
#mainNavi .depth2.subhover .title-menus .menus .menu .tit a span{display:block; max-width:160px; padding: 5px 0}

#mainNavi .depth2.subhover .title-menus .menus .menu .tit.tmactive a span{color:#fff; background-color:#fb7e10;  }
#mainNavi .depth2.subhover .title-menus .menus .menu .tit.cblue a span{color:#1263a2; background:url(/_Img/Content/top6-arrowRB.png) no-repeat right; cursor:default}
#mainNavi .depth2.subhover .title-menus .menus .menu .tit.cblue.bfe span{color:#1263a2; font-size: 12px; margin-bottom:8px;}
#mainNavi .depth2.subhover .title-menus .menus .menu .tit.cblue.tmactive a span{color:#fff; background-color:#1263a2; }
#mainNavi .depth2.subhover .title-menus .menus .menu .tit.cblue.bfe.tmactive span{color:#fff; background-color:#1263a2; }

/*특별한*/
/* #mainNavi .special .depth2 .title-menus .menus .menu{width:240px; float:left;} */

/*자기야*/
#mainNavi .depth2.subhover .title-menus .menus .menu .tittit{font-size:14px; margin-bottom:10px;}
#mainNavi .depth2.subhover .title-menus .menus .menu .tittit a{color:#fb7e10; line-height:120%; letter-spacing:-0.02em; font-weight:bold; cursor: default; display:block; margin-left: 10px;}
#mainNavi .depth2.subhover .title-menus .menus .menu .tittit a span{color:#fb7e10; padding-right:11px; display:block; max-width:160px; padding: 5px 0}
#mainNavi .depth2.subhover .title-menus .menus .menu .tittit.tmactive a span{color:#fff; background-color:#fb7e10;  }

#mainNavi .depth2.subhover .title-menus .title{text-indent:0}

/****************/
#mainNavi .depth2 .title-menus .menus .menu dl{/*margin-bottom:15px;*/ }
#mainNavi .depth2 .title-menus .menus .menu dl:last-child{margin-bottom:0px;}
#mainNavi .depth2 .title-menus .menus .menu dl dt{font-size:14px; margin-bottom:10px;margin-top: 10px; text-indent:10px;}
#mainNavi .depth2 .title-menus .menus .menu dl dt a{color:#333; font-weight:bold; line-height:120%; min-height:18px; display:block; cursor: default; text-indent:10px;}
#mainNavi .depth2 .title-menus .menus .menu dl dt a span{color:#333;}
#mainNavi .depth2 .title-menus .menus .menu dl dd{font-size:13px; margin-bottom:8px;margin-top:8px;/*font-weight: bold;*/; text-indent:10px; }
#mainNavi .depth2 .title-menus .menus .menu dl dd a{color:#555555; line-height:130%;}
#mainNavi .depth2 .title-menus .menus .menu dl dd a span{color:#555555;line-height:20px;}
#mainNavi .depth2 .title-menus .menus .menu dl dd a:hover span{color:#f97f10;}
#mainNavi .depth2 .title-menus .menus .menu dl dd.bold a span{font-weight:700; color:#000}
#mainNavi .depth2 .title-menus .menus .menu dl dd.bold a:hover span{font-weight:700; color:#f97f10}

#mainNavi .depth2 .title-menus .menus .menu .m-img{overflow:hidden;}
#mainNavi .depth2 .title-menus .menus .menu .m-img a{display:block; width:200px;}
#mainNavi .depth2 .title-menus .menus .menu .m-img .img{margin-bottom:10px; display:block;}
#mainNavi .depth2 .title-menus .menus .menu .m-img .img img{width:100%;}
#mainNavi .depth2 .title-menus .menus .menu .m-img .btxt{font-size:14px; color:#333; font-weight:bold; line-height:120%; min-height:5px; display:block;}
#mainNavi .depth2 .title-menus .menus .menu .m-img .stxt{font-size:12px; color:#555555; line-height:130%; display:block;}

/*.topmenu.full .depth2:before{position:absolute; bottom:0px; left:0px; width:100%; height:1px; background:#cdcdcd; content:"";}*/
#mainNavi .depth2.subhover .title-menus .title a{display:block; width:160px; }
#mainNavi .depth2.subhover .title-menus .menus .menu dl{/*margin-bottom:15px;*/ padding-left: 10px;}


.topmenu.full .depth2 .dt2-dt3{width:16.66666666%; height:287px; border-right:1px solid #cdcdcd; border-bottom:1px solid #cdcdcd; box-sizing:border-box; float:left;}
.topmenu.full .depth2 .dt2-dt3:nth-child(6n){border-right:none;}
.topmenu.full .depth2 .dt2-dt3 .dt2{height:36px; margin-bottom:22px; border-bottom:1px solid #cdcdcd; text-align:center;}
.topmenu.full .depth2 .dt2-dt3 .dt2 a{display:block; line-height:36px; font-size:15px; color:#fa7600; font-weight:bold;}
.topmenu.full .depth2 .dt2-dt3 .dt2 a span{color:#fa7600;}

.topmenu.full .depth2 .dt2-dt3 .dt3{margin-bottom:10px;}
.topmenu.full .depth2 .dt2-dt3 .dt3 a{color:#555; display:block; line-height:120%; padding:0px 22px; letter-spacing:-0.03em; font-size:12px;}
.topmenu.full .depth2 .dt2-dt3 .dt3 a:hover{text-decoration:underline;}
.topmenu.full .depth2 .dt2-dt3 .dt3 a span{}

#mainNavi-wrap .ovbar{position:absolute;height:14px;top:34px;display:block;overflow:hidden; height:12px; display:none;}
#mainNavi-wrap .ovbar:before {position:absolute; bottom:0; left:50%; background:#fa7f10; height:2px; content:""; display:block; z-index:200; width:70%; margin-left:-35%;}

.mn-bar{background:#fff; position:absolute; left:50%; margin-left:-1000px; width:2000px; top:231px; border-top:1px solid #b2b2b2; border-bottom:1px solid #b2b2b2; display:none; }

/*가출팁*/
#mainNavi .topmenu.gacultip .depth2-wrap{width:150px; left:685px; border-left:1px solid #cdcdcd; border-right:1px solid #cdcdcd;}
#mainNavi .topmenu.gacultip #tm07 .depth2-wrap{left:auto; right:0}
#mainNavi .topmenu.gacultip .depth2{position:relative; padding:0px; min-height:60px; border-bottom:none; box-sizing:border-box; background:#fff;}
#mainNavi .topmenu.gacultip .depth2 .title-menus .menus .menu{width:100%; }
#mainNavi .topmenu.gacultip .depth2 .title-menus .menus .menu dl dt{text-indent:0; margin:0}

#mainNavi .topmenu.gacultip .depth2 .title-menus .menus .menu dl dt a{cursor:pointer; text-align:center; text-indent:0; border-bottom:1px solid #cdcdcd; padding:12px 0; }
#mainNavi .topmenu.gacultip .depth2 .title-menus .menus .menu dl dt a:hover span{color: #fa7a10 }



/* /////////////////////////////// 컨텐츠 ///////////////////////////////////*/

#contents{position:relative;}

#cont-navi{position:relative; height:100%; padding-left:43px; box-sizing:border-box; }
#cont-navi:before{position:absolute; bottom:0px; left:50%; width:3000px; margin-left:-1500px; height:1px; background:#e2e2e2; content:"";}
#cont-navi:after {content:"";display:block;clear:both;}
#cont-navi .home{position:absolute; left:0px; top:0px; display:block; float:left; width:43px; line-height:39px; font-size:13px; font-weight:900; color:#595959;}
#cont-navi .home span{padding-left:19px; background:url(../_Img/Layout/cont-navi-home.png) no-repeat left;}
#cont-navi dl {display:block; position:relative; float:left; width:auto; height:100%;}
#cont-navi dt a {white-space:nowrap; display:block; overflow:hidden; text-overflow:ellipsis; line-height:39px; position:relative;}
#cont-navi dt a span {display:block; padding:0px 29px 0px 17px; cursor:pointer;  font-size:13px;}
#cont-navi dt a:after{position:Absolute; left:0px; top:50%; width:4px; height:10px; margin-top:-5px; display:block; content:""; background:url(../_Img/Layout/cont-navi-arrowR.png) no-repeat left center;}
#cont-navi dt a:before{position:Absolute; right:10px; top:50%; width:10px; height:6px; margin-top:-3px; display:block; content:""; background:url(../_Img/Layout/cont-navi-arrowB.png) no-repeat left center;}
#cont-navi dd{position:absolute; left:10px; top:39px; width:100%; min-width:140px; height:auto; display:none; z-index:9999; border-top: 1px solid #cdcdcd; }
#cont-navi dd a {display:block; background:#f5f5f5; border:1px solid #dee3e6; border-top:0px; padding:8px 10px; font-size:12px;}
#cont-navi dd a span{}
#cont-navi dd a:hover, #cont-navi dd .isOver a {background:#fa7600; border-color:#fa7600;}
#cont-navi dd a:hover span, #cont-navi dd .isOver a  span {color:#fff;}
#cont-navi dl[_n="3"] dd, #cont-navi dl[_n="4"] dd{min-width:160px;}
#cont-navi dl.is-last dt{}
#cont-navi dl.is-last dt a span {}
#cont-navi dl.is-last dt a, #cont-navi dl.is-last dt a span{color:#000; font-weight:500; letter-spacing:-0.03em;}
#cont-navi li.over a{}
#cont-navi li.over a span{ color:#fa7600;}
#cont-navi li.over a:hover span{ color:#fff;}
#cont-navi dl #tm_Member, #cont-navi dl #tm_Site{display:none;}


#cont-navi-nolink{position:relative; height:47px;line-height:46px;  padding-left:43px; box-sizing:border-box; width:1100px;  }
#cont-navi-nolink:before{position:absolute; bottom:0px; left:50%; width:3000px; margin-left:-1500px; height:1px; background:#e2e2e2; content:"";}
#cont-navi-nolink:after {content:"";display:block;clear:both;}
#cont-navi-nolink .home{position:absolute; left:0px; top:4px; display:block; float:left; width:43px; line-height:39px; font-size:13px; font-weight:900; color:#595959;}
#cont-navi-nolink .home span{padding-left:19px; background:url(../_Img/Layout/cont-navi-home.png) no-repeat left;}
#cont-navi-nolink dl {display:block; position:relative; float:left; width:auto; height:100%;}
#cont-navi-nolink dt{position:relative; display: inline-block; margin-right:10px; }
#cont-navi-nolink dt:after {
    position: Absolute;
    left: 0px;
    top: 50%;
    width: 4px;
    height: 10px;
    margin-top: -5px;
    display: block;
    content: "";
    background: url(/_Img/Layout/cont-navi-arrowR.png) no-repeat left center; }

#cont-navi .navis span strong {color : #eb6004 }




/* /////////////////////////////// 풋터 ///////////////////////////////////*/
#footer-wrap {display:block;}
#footer-wrap:before{background:#dfdfdf; width:2000px; position:absolute; height:100%;left:50%; margin-left:-1000px; top:0; z-index:-1; display:block; content:"";}
#footer{position:relative; height:328px;}

#footer .f-menu {position:relative; font-family:'NanumSquare', sans-serif; height:42px}
#footer .f-menu a{position:relative; font-family:'NanumSquare', sans-serif;}
#footer .f-menu:before{background:#4a4a4a; width:2000px; position:absolute; height:100%;left:50%; margin-left:-1000px; top:0; z-index:-1; display:block; content:"";}
#footer .f-menu:after{clear:both;content:"";display:block;}
#footer .f-menu li{position:relative; float:left; padding: 0 37px }
#footer .f-menu li:nth-child(1){padding-left:0; }
#footer .f-menu li:nth-child(9){padding-right:0; }

#footer .f-menu li:before{position:absolute; top:50%; left:0px; width:1px; height:14px; margin-top:-7px; background:#b4b4b4; content:"";}
#footer .f-menu li:first-child:before{display:none;}
#footer .f-menu li a{font-size:13px; display:block; line-height:42px; text-align:center; color:#fff; font-weight:400;}
#footer .f-menu li.bold a{font-weight:bold}

#footer .f-logo{position:absolute; left:0px; top:109px; z-index:2100;text-align:left; width:173px; height:42px; z-index:9;}
#footer .f-logo a{display:block; height:42px; background:url(/_Img/f-logo.png) no-repeat center;}

#footer .f-txt{position:absolute; left:210px; top:75px; font-family:'NanumBarunGothic', sans-serif;width:67%}
#footer .f-txt li{font-size:12px; color:#656565; line-height:17px;}
#footer .f-txt li .licen-btn{position:relative; top:-2px; font-size:10px; display:inline-block; background:#fff; border:1px solid #cdcdcd; line-height:16px; padding:0px 5px; vertical-align:top; color:#656565;}

#footer .f-sns{position:absolute; right:0px; top:84px; width:151px;}
#footer .f-sns li{float:left; margin:0px 8px 7px 0px;}
#footer .f-sns li:nth-child(3){margin-right:0px;}
#footer .f-sns li:last-child{margin-right:0px;}
#footer .f-sns li a{width:45px; height:45px; display:block; border-radius:5px;}
#footer .f-sns li.face a{background:url(/_Img/Layout/ficon-face.png) no-repeat center #a1a1a1;}
#footer .f-sns li.insta a{background:url(/_Img/Layout/ficon-insta.png) no-repeat center #a1a1a1;}
#footer .f-sns li.blog a{background:url(/_Img/Layout/ficon-blog.png) no-repeat center #a1a1a1;}
#footer .f-sns li.kakaoT a{background:url(/_Img/Layout/ficon-kakaoT.png) no-repeat center #a1a1a1;}
#footer .f-sns li.kakaoS a{background:url(/_Img/Layout/ficon-kakaoS.png) no-repeat center #a1a1a1;}
#footer .f-sns li.write a{background:url(/_Img/Layout/ficon-write.png) no-repeat center #a1a1a1;}
#footer .f-sns li.youtube a{background:url(/_Img/Layout/ficon-youtube.png) no-repeat center #a1a1a1;}

#footer .f-alli{position:absolute; left:0px; top:235px; width:100%;}
#footer .f-alli .alli-slide{padding-left:40px;}
#footer .f-alli .alli-slide li{position:relative; height:70px;}
#footer .f-alli .alli-slide li a{display:inline-block; font-family:'NanumBarunGothic', sans-serif; font-size:12px; color:#656565; letter-spacing:-0.02em; line-height:16px;}
#footer .f-alli .alli-slide li span{display:inline-block; margin-left:10px; vertical-align:middle;}
#footer .f-alli .alli-slide img{display:inline-block; vertical-align:middle;}

#footer .f-alli .alli-slide .slick-prev{position:absolute; top:50%; left:0px; z-index:1; width:11px; height:44px; margin-top:-22px; border:0px; font-size:0px; background:url(/_Img/Layout/falli-arrowL.png) no-repeat center #a1a1a1;}
#footer .f-alli .alli-slide .slick-next{position:absolute; top:50%; right:0px; z-index:1; width:11px; height:44px; margin-top:-22px; border:0px; font-size:0px; background:url(/_Img/Layout/falli-arrowR.png) no-repeat center #a1a1a1;}


/* quick-menu */
#quick-menu{position:fixed; top:40%; right:0px; width:134px; margin-top:-295px; z-index:9997; -webkit-transition:all 0.3s ease-out; -moz-transition:all 0.3s ease-out; -o-transition:all 0.3s ease-out; transition:all 0.3s ease-out;}

#quick-menu.scrolltop { right:0px; /*margin-top:-210px;*/}
#quick-menu.hiding-none { right:0px;}
#quick-menu.keeping{right:-135px;}
#quick-menu.keeping2{right:-96px;}

#quick-menu .keep-btn{position:absolute; left:-19px; top:50%; width:18px; height:32px; margin-top:-16px; background:url(/_Img/Layout/quick-keep-iconR.png) no-repeat center #fff; border:1px solid #cdcdcd; border-right:none; display:block;}
#quick-menu.keeping .keep-btn{background:url(/_Img/Layout/quick-keep-iconL.png) no-repeat center #fff;}
#quick-menu.keeping2 .keep-btn{background:url(/_Img/Layout/quick-keep-iconL.png) no-repeat center #fff;}
#quick-menu .list{border:1px solid #cdcdcd; border-right:none; background:#fff;}
#quick-menu .list li{border-bottom:1px solid #cdcdcd;}
#quick-menu .list li a{display:block; padding:9px 10px; font-size:12px; letter-spacing:-0.03em; color:#333;}
#quick-menu .list li a:hover{color:#fb7600; text-decoration:underline;}
#quick-menu .list li a span{display:block; line-height:24px; padding-left:29px;}
#quick-menu .list li.login a span{background:url(/_Img/Layout/quick-icon-login.png) no-repeat left;}
#quick-menu .list li.reser a span{background:url(/_Img/Layout/quick-icon-reser.png) no-repeat left;}
#quick-menu .list li.kak a span{background:url(/_Img/Layout/quick-icon-ka2.png) no-repeat left;}
#quick-menu .list li.app a span{background:url(/_Img/Layout/quick-icon-coupon.png) no-repeat left;}
#quick-menu .list li.disc a span{background:url(/_Img/Layout/quick-icon-disc.png) no-repeat left;}
#quick-menu .list li.excel a span{background:url(/_Img/Layout/quick-icon-excel.png) no-repeat left;}
#quick-menu .list li.europ a span{background:url(/_Img/Layout/quick-icon-europ.png) no-repeat left; background-position: 4px;}
#quick-menu .list li.custom a span{background:url(/_Img/Layout/quick-icon-custom.png) no-repeat left;}
#quick-menu .list li.qna a span{background:url(/_Img/Layout/quick-icon-qna.png) no-repeat left;}
#quick-menu .list li.diy a span{background:url(/_Img/Layout/quick-icon-diy.png) no-repeat left;}
#quick-menu .list li.depos a span{background:url(/_Img/Layout/quick-icon-depos.png) no-repeat left;}
#quick-menu .list li.mcard a span{background:url(/_Img/Layout/quick-icon-mcard.png) no-repeat left;}

#quick-menu .list li.today-prod{padding:14px;}
#quick-menu .list li.today-prod .tit{font-size:13px; text-align:center; color:#333; line-height:120%; margin-bottom:8px;}

#quick-menu .list li.today-prod .quick-slide{margin-bottom:8px;}
#quick-menu .list li.today-prod .quick-slide a{padding:0px; font-size:0px;}
#quick-menu .list li.today-prod .quick-slide .item{width:100%; height:60px; overflow:hidden; box-sizing:border-box; position:relative}
#quick-menu .list li.today-prod .quick-slide .item .item-bg{opacity:0; position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    width: 100%;
    height: 51px;
    display: block;
    background-color:rgba(0,0,0,.5);
	transform: translate(-50%, -50%);}
#quick-menu .list li.today-prod .quick-slide .item .item-bg p{color:#fff; font-size:12px; text-align:center; width:100%; height:45px; padding:7px 5px; box-sizing:border-box;  overflow:hidden; }
#quick-menu .list li.today-prod:hover .quick-slide .item .item-bg{opacity:1;}

#quick-menu .list li.today-prod .quick-slide .item img{width:100%;position: absolute;
    top: 50%;
    left: 50%;transform: translate(-50%, -50%)}
#quick-menu .list li.today-prod .quick-slide .item.no-pro{background:#ececec; font-size:12px; color:#777; text-align:center; line-height:140%; padding-top:13px; }

#quick-menu .list li.today-prod .leslide-ctrl{text-align:center; font-size:13px;line-height:120%; color:#555;}

#quick-menu .list li.today-prod .quick-slide .slick-prev{position:absolute; bottom:-26px; left:15px; z-index:1; width:20px; height:20px; border:0px; font-size:0px; background:url(/_Img/Layout/quick-arrowL.png) no-repeat center;}
#quick-menu .list li.today-prod .quick-slide .slick-next{position:absolute; bottom:-26px; right:15px; z-index:1; width:20px; height:20px; border:0px; font-size:0px; background:url(/_Img/Layout/quick-arrowR.png) no-repeat center;}

#quick-menu .top-btn{width:100%; line-height:28px; text-align:center; color:#fff; font-size:11px; font-weight:bold; background:#4a4a4a; display:block;}
#quick-menu .top-btn span{padding-left:12px; background:url(/_Img/Layout/quick-arrowT.png) no-repeat left;}


/* layer-wrap.app */
.layer-wrap.search{position:absolute; width:836px; border:1px solid #717171; display:none; background:#fff; box-sizing:border-box;}

.layer-wrap.search .theme{width:100%; font-family:'Nanum Gothic', 'Malgun Gothic', sans-serif;}
.layer-wrap.search .theme .tit-close{height:39px; padding:0px 10px 0px 23px; border-bottom:1px solid #cdcdcd; background:#f2f2f2; overflow:hidden;}
.layer-wrap.search .theme .tit-close .tit{line-height:39px; color:#222; font-size:14px; font-weight:bold; float:left;}
.layer-wrap.search .theme .tit-close .close-btn{width:30px; height:30px; margin-top:5px; background:red; display:block; float:right; background:url(/_Img/Main/close-btn01.png) no-repeat center;}

.layer-wrap.search .theme .theme-tab{position:relative; height:auto; overflow:hidden; background:#fff; z-index:9;}
.layer-wrap.search .theme .theme-tab .wrap{width:148px;}
.layer-wrap.search .theme .theme-tab .wrap .tab{width:100%; display:inline; position:relative; z-index:2; font-size:14px; font-weight:bold;}
.layer-wrap.search .theme .theme-tab .wrap .tab a{padding:0px 20px; height:47px; padding-top:15px; box-sizing:border-box; line-height:120%; display:block; text-align:left; color:#333333; border-right:1px solid #cdcdcd; border-bottom:1px solid #cdcdcd;}
.layer-wrap.search .theme .theme-tab .wrap .tab a.line2{padding-top:7px;}
.layer-wrap.search .theme .theme-tab .wrap .tab a span{position:relative; display:block;}
.layer-wrap.search .theme .theme-tab .wrap .tab a span:before{position:absolute; top:50%; right:0px; height:18px; margin-top:-9px; content:"〉";}

.layer-wrap.search .theme .theme-tab .wrap:last-child .tab a{border-bottom:none;}

.layer-wrap.search .theme .theme-tab .wrap .cnt{width:686px; position:absolute; left:148px; top:0px; z-index:1; display:none; box-sizing:border-box; overflow:hidden;}

.layer-wrap.search .theme .theme-tab .wrap.on .tab a{color:#ffffff; font-weight:bold; background:#00a55b; border-color:#00a55b;}
.layer-wrap.search .theme .theme-tab .wrap.on .tab a.cbrown{color:#ffffff !important;}
.layer-wrap.search .theme .theme-tab .wrap.on .cnt{display:block;}

.layer-wrap.search .theme .theme-tab .wrap .cnt .list{width:20%; padding:15px 0px 15px 25px; box-sizing:border-box; float:left;}
.layer-wrap.search .theme .theme-tab .wrap .cnt .list dt{font-size:15px; color:#222; font-weight:bold; line-height:120%; margin-bottom:20px;}
.layer-wrap.search .theme .theme-tab .wrap .cnt .list dd{font-size:14px; color:#555; line-height:120%; margin-bottom:13px;}
.layer-wrap.search .theme .theme-tab .wrap .cnt .list dd:last-child{margin-bottom:0px;}
.layer-wrap.search .theme .theme-tab .wrap .cnt .list a span.orange{color: #ef7a00;font-weight: bold}
.layer-wrap.search .theme .theme-tab .wrap .cnt .list a span.bold{font-weight: bold}

/********** 약관 **********/
.common_terms_wrap {font-size:14px; line-height:24px; letter-spacing:-0.02em; word-break:keep-all;}
.common_terms_wrap a:hover {text-decoration:underline;}
.common_terms_wrap p {margin-top:5px;}
.common_terms_wrap p.tit_h1 {margin-top:30px; font-size:18px; font-weight:bold;}
.common_terms_wrap p.tit_h2 {margin-top:20px; font-size:16px; font-weight:bold;}
.common_terms_wrap p.tit_h2.type2 {color:#e46c0a;}
.common_terms_wrap .policy_box {margin-top:30px; border-top:1px solid #ddd;}
.common_terms_wrap .tbl {margin-top:10px;}
.common_terms_wrap .tbl table {width:100%; border-top:1px solid #222;}
.common_terms_wrap .tbl th, .common_terms_wrap .tbl td {padding:10px 20px; border-bottom:1px solid #ddd;}
.common_terms_wrap .tbl th {background:#f7f7f7;}
.common_terms_wrap .tbl td {border-left:1px solid #ddd;}
.common_terms_wrap .tbl td:first-child {border-left:none;}
.common_terms_wrap .tbl.col th {text-align:center;}
.common_terms_wrap .tbl.col.txt_c td {text-align:center;}
.common_terms_wrap .tbl + p {margin-top:20px;}
.common_terms_wrap .tbl + .list {margin-top:20px;}
.common_terms_wrap .list {margin-top:5px;}
.common_terms_wrap .list + p.tit_h1 {margin-top:30px;}
.common_terms_wrap .list .in {margin-top:5px; padding-left:15px;}
.common_terms_wrap .btn_policy {display:inline-block; margin-top:40px; border:1px solid #333;}
.common_terms_wrap .btn_policy a {display:block; line-height:40px; padding:0 15px; color:#333;}
.common_terms_wrap .tab_menu {margin-top:30px;}
.common_terms_wrap .tab_menu ul {overflow:hidden;}
.common_terms_wrap .tab_menu li {float:left; width:50%; background:#f7f7f7; border:1px solid #ddd; border-bottom-color:#222; text-align:center; box-sizing:border-box; cursor:pointer;}
.common_terms_wrap .tab_menu li span {display:inline-block; font-size:18px; color:#999; line-height:60px;}
.common_terms_wrap .tab_menu li.on{border-color:#222; background:#fff; border-bottom:0 none;}
.common_terms_wrap .tab_menu li.on span{font-weight:700; color:#555;}
.common_terms_wrap .tab_conts .cont {display:none;}
.common_terms_wrap .tab_conts .cont.on {display:block;}

/* 입금안내 레이어 */
.layer_bankguide_wrap{position:relative; width:720px; height:820px; margin-top:100px; border:1px solid #333; background:#fff; box-sizing:border-box; letter-spacing:-0.05em; display:none;}
.layer_bankguide_wrap .title{padding:0 20px; background:#089028 url(/_Img/Layout/bg_layer_bankguide.png) no-repeat 0 0; font-size:20px; font-weight:700; color:#fff; line-height:48px;}
.layer_bankguide_wrap .cont_bankguide{padding:15px 20px;}
.layer_bankguide_wrap .cont_bankguide .info{background:#e9f6e8;}
.layer_bankguide_wrap .cont_bankguide .info ol{padding:10px 15px;}
.layer_bankguide_wrap .cont_bankguide .info ol > li{font-size:14px; color:#333; line-height:26px;}
.layer_bankguide_wrap .cont_bankguide .info ul{padding:0 12px;}
.layer_bankguide_wrap .cont_bankguide .info ul > li{font-size:14px; color:#656565; line-height:26px;}
.layer_bankguide_wrap .account{overflow:hidden; margin:25px 0 10px;}
.layer_bankguide_wrap .account .tit{float:left; font-size:18px; font-weight:700; color:#0d7d27; line-height:25px;}
.layer_bankguide_wrap .account .tit:before{content:''; display:inline-block; width:19px; height:19px; margin:4px 8px 0 0; background:url(/_Img/Layout/icon_arrow.png) no-repeat 0 0; vertical-align:top;}
.layer_bankguide_wrap .account dl{float:right; font-size:0; text-align:right;}
.layer_bankguide_wrap .account dt{display:inline-block; margin:0 3px 0 25px; font-size:14px; color:#333; line-height:25px;}
.layer_bankguide_wrap .account dd{display:inline-block; font-size:14px; font-weight:700; color:#e65c00; line-height:25px;}
.layer_bankguide_wrap .tbl{position:relative; width:100%; border-top:1px solid #555;}
.layer_bankguide_wrap .tbl:before{content:''; position:absolute; left:0; top:0; bottom:0; width:1px; background:#fff;}
.layer_bankguide_wrap .tbl th{background:#f2f2f2; border-bottom:1px solid #ddd; border-left:1px solid #ddd; font-size:13px; color:#333; line-height:36px;}
.layer_bankguide_wrap .tbl td{border-bottom:1px solid #ddd; border-left:1px solid #ddd; font-size:13px; color:#333; line-height:36px; text-align:center;}
.layer_bankguide_wrap .tbl td strong{font-size:14px; font-weight:700;}
.layer_bankguide_wrap .tbl td span{color:#017d1f;}
.layer_bankguide_wrap .btn_layer_close{position:absolute; right:12px; top:12px; width:25px; height:25px; background:url(/_Img/Layout/btn_layer_close.png) no-repeat center center; text-indent:-9999px;}
